body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.heading-color {
    color: green;
}

.flexible-container {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 7%;
    margin-bottom: 15px;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-color: rgb(6, 98, 6);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}

.top-banner {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

.big-dream {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-right: 50px;
}

.experience-item {
    width: 80%;
    margin-left: 5%;
    padding-bottom: 120px;
    padding: 30px;
    box-shadow: 10px 10px 40px gray;

}



#full-stack {
    border-left: 10px solid rgb(245, 119, 73);
    border-radius: 10px;
}

#baby-web {
    border-left: 10px solid rgb(12, 72, 225);
    border-radius: 10px;
}

footer {
    text-align: center;
    margin-top: 150px;
}