body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.heading-color {
    color: rgb(221, 31, 66);
}

.flexible-container {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 7%;
    margin-bottom: 15px;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-color: rgb(11, 242, 11);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.top-banner {
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

.big-dream {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    width: 80%;
    margin-left: 5%;
    padding-left: 5%;
    box-shadow: 10px 10px 40px gray;

}