body {
    font-family: 'Poppins', sans-serif;
    font-size: large;
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

.my-name {
    color: green;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-color: rgb(11, 242, 11);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}